skip_tags: true
image: Visual Studio 2019 Preview

install:
  - cmd: choco install gitversion.portable --version 4.0.0 -y

before_build:
  - ps: gitversion /l console /output buildserver

build:
  verbosity: detailed
build_script:
- cmd: dotnet restore ./src/Dazinator.Extensions.Options.sln --disable-parallel -p:PackageVersion=%GitVersion_FullSemVer%
- cmd: dotnet build ./src/Dazinator.Extensions.Options.sln -c Release --disable-parallel
- cmd: dotnet pack ./src/Dazinator.Extensions.Options.sln -c Release --output %APPVEYOR_BUILD_FOLDER%/artifacts/ -p:PackageVersion=%GitVersion_FullSemVer%
artifacts:
- path: artifacts/*
- path: /src/**/*.snupkg
deploy:
  provider: NuGet
  server:
  api_key:
    secure: u8JpW5kkti8pMi+ra2QcXTJPhkHCA8pkKSiiZOJbcS/vFVHNvF3W8qw1Fy2If6a7
  skip_symbols: false
  symbol_server: